<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" href="../index.svg" type="image/x-icon">
    <!-- preloads -->
    <link rel="preload" href="../assets/fonts/CircularStd-Book.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="../assets/fonts/CircularStd-Bold.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="../assets/fonts/CircularStd-Black.woff" as="font" type="font/woff" crossorigin>
    <!-- styles -->
    <link rel="stylesheet" href="./index.css">
    <!-- libraries -->
    <script src="../assets/libraries/vue.min.js"></script>
    <!-- scripts -->
    <script src="./index.js" defer></script>
    <!-- page title -->
    <title>Local Notifications Manager</title>
</head>
<body>
    <div id="app">
        <input type="text"
            placeholder="Type title here..."
            v-model="title">
        <textarea placeholder="Type description here..."
            v-model="description">
        </textarea>
        <button class="create"
            @click="createItem">
            Create Notification
        </button>
        <table border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td :title="item?.title">
                        {{ summary(item?.title, 50) }}
                    </td>
                    <td :title="item?.description">
                        {{ summary(item?.description, 80) }}
                    </td>
                    <td>
                        <button class="delete"
                            @click="deleteItem(item?.id)"
                        ></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="reset"
            @click="resetData">
            Reset Notification Data
        </button>
    </div>
</body>
</html>